<li>
	{{burger_name}}

	{{#if devoured}}<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR!
		{{!-- {{else}}nother one,please! --}}
		
	</button>
{{/if}}
	{{!-- <button class="delete-burger" data-id="{{this.id}}">Delete</button> --}}

</li>
